<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tsoha-forum</title>
    </head>
    <body>
        <h1>Tsoha-forum</h1>
        <a href="/">Front page</a>
        <p></p>
        {% if session.user_id %}
        Logged in as: {{ session.user_username }}
        <a href="/logout">Log out</a>
        {% else %}
        <a href="/login">Log in</a> or <a href="/register">Create an account</a>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
