{% extends "base.html" %}

{% block content %}
    <p>Threads in '{{ board_name }}': ({{ count }})</p>
    {% if session.user_id %}
    <a href="/boards/{{board_id}}/new_thread"><b>Create a new thread</b></a>
    {% endif %}
    <hr>
    {% for thread in threads %}
    <a href="/boards/{{board_id}}/{{thread[0]}}">{{thread[1]}}</a>
    {% if thread[2] != None %}
    <p>Submitted: {{ thread[2].strftime("%d-%m-%Y %H:%M") }} By: {{ thread[3] }}</p>
    {% else %}
    <p>Submitted: N/A By: {{ thread[3] }}</p>
    {% endif %}
    <hr>
    {% endfor %}
{% endblock %}