{% extends "base.html" %}

{% block title %}
- '{{ board_name }}'
{% endblock %}

{% block content %}
    <h3>{{ title }}</h3>
    <p></p>
    <p>{{ content }}</p>
    <br>
    <i>By: {{ creator }}</i>
    <br>
    {% if timestamp != None %}
        <i>{{ timestamp.strftime("%d-%m-%Y %H:%M") }}</i>
    {% else %}
        <i>N/A</i>
    {% endif %}

    <!-- TODO: THREAD DELETION-->
    {% if session.user_id == creator_id %}
    <a href="/boards/{{board_id}}/{{thread_id}}/edit_thread">Edit</a>
    <form action="/boards/{{board_id}}/{{thread_id}}/delete_thread" onsubmit="return confirm('Permanently delete this thread?');" method="POST">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <input type="submit" class="link-button" value="Delete thread">
    </form>
    {% endif %}

    <hr>
    {% if session.user_id %}
    <form action="/boards/{{board_id}}/{{thread_id}}/new_comment" method="POST">
        <p>Leave a comment:</p>
        <textarea name="message" rows="4" cols="40" minlength="5" maxlength="1000" placeholder="Minimum 5 characters"></textarea>
        <br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Comment">
    </form>
    <hr>
    {% endif %}
    {% for comment in comments %}
        <p>{{ comment[1] }}</p><br>
        {% if comment[2] != None %}
            <p>{{ comment[2].strftime("%d-%m-%Y %H:%M") }} By: {{ comment[3] }}</p>
        {% else %}
            <p>N/A By: {{ comment[3] }}
        {% endif %}
        {% if comment[4] == session.user_id %}
        <a href="/boards/{{board_id}}/{{thread_id}}/edit_comment/{{comment[0]}}">Edit</a>
        <a href="/boards/{{board_id}}/{{thread_id}}/delete_comment/{{comment[0]}}">Delete</a>
        {% endif %}
        </p>
        <hr>
    {% endfor %}
{% endblock %}
