body {
    margin:auto;
    max-width:50em;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
  }
